# Config file
starExe = {{ source_dir }}/STAR-{{ version }}/bin/Linux_x86_64_static/STAR
counterExe = {{ source_dir }}/subread-{{ version }}-source/bin/featureCount
samtoolsExe = {{ source_dir }}/samtools-{{ version }}/samtools
picardExe = java -Xmx3g -jar {{ source_dir }}/picard-tools-{{ version }}/picard.jar
fastqcExe = {{ source_dir }}/source/FastQC/fastqc
RNAseQCexe = /usr/lib/jvm/java-7-openjdk-amd64/bin/java -Xmx6g -jar {{ source_dir }}/RNA-SeQC_v{{ version }}/RNA-SeQC_v{{ version }}.jar
pythonExe = python
