# Config file
starExe = {{ source_dir }}/STAR-{{ star_version }}/bin/Linux_x86_64_static/STAR
counterExe = {{ source_dir }}/subread-{{ subread_version }}-source/bin/featureCount
samtoolsExe = {{ source_dir }}/samtools-{{ samtools_version }}/samtools
picardExe = java -Xmx3g -jar {{ source_dir }}/picard-tools-{{ picard_version }}/picard.jar
fastqcExe = {{ source_dir }}/source/FastQC/fastqc
RNAseQCexe = /usr/lib/jvm/java-7-openjdk-amd64/bin/java -Xmx6g -jar {{ source_dir }}/RNA-SeQC_v{{ rna-seqc_version }}/RNA-SeQC_v{{ rna-seqc_version }}.jar
pythonExe = python
