# Config file
starExe = software/source/STAR-2.5.1b/bin/Linux_x86_64_static/STAR
counterExe = software/source/subread-1.5.0-p2-source/bin/featureCounts
samtoolsExe = software/source/samtools-1.3/samtools
picardExe = java -Xmx3g -jar software/source/picard-tools-1.129/picard.jar
fastqcExe = software/source/FastQC/fastqc
RNAseQCexe = /usr/lib/jvm/java-7-openjdk-amd64/bin/java -Xmx6g -jar software/source/RNA-SeQC_v1.1.8/RNA-SeQC_v1.1.8.jar
pythonExe = python
